.container {
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    // gap: 1rem;

    // height: calc(100vh - 56px);
    // justify-content: center;
    // align-items: center;
}

// .containerForm {
// width: 95%;
// margin: 0 auto;
// display: flex;
// justify-content: flex-start;
// align-items: center;
// }

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.formFields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    column-gap: 1rem;
    row-gap: 1rem;
    word-wrap: break-word;
}

.containerButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.containerTable {
    width: 100%;

}

.trashIcon {
    background-color: transparent;
}

.buttonEditIcon {
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        font-size: 1.2rem;
    }
}

.filterContainer {
    margin-bottom: 1rem;
}