.formGroup {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.containerDates {
    display: flex;
    gap: 1rem;
}

.datePiker {
    width: 100%;
}

.sendButton {
    width: 65%;
}

.evidenceText {
    color: #00A0BD;
}