.brandText {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
}

.exitButton {
    background-color: transparent;
}