.container {
    width: 100%;
    height: calc(100vh - 156px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    gap: 16px;
}

.containerButton {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTable {
    margin: 0 auto;
    width: 85%;
}

.presenceButton {
    width: 400px;
}

.title {
    font-size: 2rem;
}

.trashIcon {
    background-color: transparent;
}

.editIcon {
    background-color: transparent;
}